@use "../../master.scss";

.paid-effect-parent {
  @include master.flex-center;

  .effect {
    border-radius: 6px;
    background: #ff6b6b;
    @include master.flex-center;
    padding: 8px;
    gap: 7px;
    // margin-bottom: 10px;

    .effect-content {
      @include master.flex-center;
      gap: 10px;
    }

    .common-slider {
      max-width: 100px;
      width: 100px;

      .ant-slider-rail {
        background-color: #00000033;
      }
      .ant-slider-track {
        background-color: #ffffff;
      }
      .ant-slider-handle::after {
        width: 12px;
        height: 12px;
        box-shadow: none;
        border: 1px solid #ff6b6b;
        inset-inline-start: -1px;
        inset-block-start: -1px;
      }
    }

    .paid-icon {
      @include master.flex-center;
      gap: 10px;
    }

    @include master.md {
      @include master.flex-between;
    }
  }
  @include master.md {
    flex-direction: column;
    .ant-col {
      width: 100%;
    }
  }
}
